export const RMQ_SERVER_URL = 'http://localhost:3300';
export const DB_URL =
  'mongodb+srv://dbUser:rbDbD!rf3LWV.SC@cluster0.9vfpo.mongodb.net/microsmartranking?retryWrites=true&w=majority';
export const RABBITMQ_USER = 'RABBITMQ_USER';
export const RABBITMQ_PASSWORD = 'RABBITMQ_PASSWORD';
